@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?eqyapa');
  src:  url('../fonts/icomoon.eot?eqyapa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eqyapa') format('truetype'),
    url('../fonts/icomoon.woff?eqyapa') format('woff'),
    url('../fonts/icomoon.svg?eqyapa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-platzi:before {
  content: "\e900";
  color: #fff;
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}


body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Pacifico', cursive;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', cursive;
}

h1{
  font-size: 2.5em;
  line-height: 1.4; /*en porcentaje 1 = 100%*/
  font-weight: normal;
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;
}

.main{
  display: grid;
}

.main-container{
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
}

.header{
  height: 90px;
  display: grid;
  grid-template-columns: 180px 1fr 250px;
  grid-template-areas: "menu-left logo-imageContainer menu-right";
  align-items: center;
  text-align: center;
}

.menu-left{
  grid-area: menu-left;

}
.logo-imageContainer{
  grid-area: logo-imageContainer;
}
.menu-right{
  grid-area: menu-right;
}

.menu{
  height: inherit;
}

.menu-responsive{
  display: none;
}

.menu ol {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.menu li {
  height: inherit;
}

.menu ol li a {
  color: black;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 450px;
  color: white;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .7);
  background: url('../img/hero-3.jpg');
  background-size: cover;
  background-position: bottom;
}

.main-container.title-container{
  height: inherit;
  align-items: center;
}

.category-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: normal;
  margin: 1em 0;
}

.category-courses, .category-projects{
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  grid-gap: 2em;
  margin-bottom: 2em;
}

.course, .project{
  height: 400px;
  background-color: #EEEBEB;
  border-radius: 15px;
  overflow: hidden;
}

.project{
  height: 300px;
}

.course-img-background{
  background-image: url('../img/java-course-background.jpg');
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.course-details{
  padding: 1.5em;
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}

.course-details a{
  text-decoration: none;
  padding: 5px 20px;
  align-self: center;
}

.course-details h3{
  margin:0 ;
  font-size: 1.4em;
}

.course-img-background.course-img-2{
  background-image: url('../img/frontend-course-background.jpg');
}

.course-img-background.course-img-3{
  background-image: url('../img/design-course-background.jpg');
}

.course-img-background.course-img-4{
  background-image: url('../img/general-course-background.jpg');
}

.project-container{
  background-color: #fa6900cc;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  color: white;
  font-weight: normal;
  padding: 1em 0;
}

.project-container h3{
  font-size: 1.5em;
  margin: .3em 0; 
}

.project a{
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
}

.project a img{
  width: 100%;
  /* height: inherit; */
}

.project a .project-detail{
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  top:50%;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  padding: 0 1.5em;
  transition: .3s;
}

.project a:hover .project-detail{
  top:0;
  /* height: 100%; */
  transition: .3s;
}

.main-button{
  border-radius: 10px;
  color: white;
  background: -moz-linear-gradient(left, #d33800 0%, #fa6900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #d33800 0%,#fa6900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #d33800 0%,#fa6900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d33800', endColorstr='#fa6900',GradientType=1 ); /* IE6-9 */
}

.contact{
  height: 300px;
  background-image: url('../img/simon-abrams-286276-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.contact .main-container{
  height: inherit;
}

.contact-details{
  height: inherit;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  display: grid;
  grid-column-gap: 2em;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
}

.form-email{
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "form-title form-title" "form-txtEmail form-button";
  grid-column-gap: .3em;
}

.form-email .form-title{
  color: white;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .7);
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 .5em 0;
  grid-area: form-title;
}

.form-email .form-txtEmail{
  padding: 8px 15px 8px 35px;  
  /* width: 85%; */
  background-image: url('../img/logos/envelope.svg'); 
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 8px;
  background-size: 20px;
  border: 0;
  grid-area: form-txtEmail;
  border-radius: 10px;
}

.form-email .form-button{
  padding: 8px 15px; 
  border: none;
  grid-area: form-button;
}

.form-email .form-button:hover{
  cursor: pointer;
}

.social-container{
  font-size: 3em;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
  grid-column-gap: .5em;
  height: 80px;
}

.social-container a{
  text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80px; */
}

/* .social-icon{
  border: 1px solid red;
} */

.footer{
  height: 90px;
  background-color: black;
  color: white;
}

.footer-container{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-container p:before {
  content: '©';
  margin-right: 5px;
}

.burger-button{
  display: none;
  height: 40px;
  width: 40px;
  background-color: rgba(250, 105, 0, .8);
  /* background: -webkit-linear-gradient(left, #d33800 0%, #fa6900 100%); */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 15px;
  left: 10px;
  z-index: 10;
}


@media screen and (max-width: 1024px){
  .main-container{
    padding: 0 1.5em;
  }
}

/*Menor que un ipad*/
@media screen and (max-width: 767px){
  

  .header {
    height: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo-imageContainer logo-imageContainer" "menu-left menu-right";
  }

  .menu{
    margin-bottom: 1em;
  }

  .menu ol {
    grid-template-columns: 1fr 1fr;;
    grid-row-gap: 1em;
  }

  .logo-imageContainer {
    padding: 1em 0;
  }

  .category-courses{
    grid-template-columns: 100%;
  }

  .project-container{
    height: auto;
  }

  .course{
    height: 300px;
  }

  .contact-details{
    grid-template-columns: 100%;
  }

  .form-email {
    grid-template-columns: 50% 15%;
    justify-content: center;
  }

  .social-container{
    font-size: 2em;
    grid-template-columns: repeat(4, 50px);
    height: 50px;
  }

}

@media screen and (max-width: 480px){
  h1{
    font-size: 1.8em;
  }

  .burger-button{
    display: flex;
  }

  .header{
    grid-template-columns: 100%;
    grid-template-areas: "logo-imageContainer" "menu-left" "menu-right";
  }

  .hero {
    height: auto;
    padding: 1em 0;
  }

  .menu{
    display: none;
  }

  .menu-responsive {
    display: flex;
    position: fixed;
    height: 100vh;
    background-color: rgba(255,255,255,.8);
    left: -100vw;
    right: 0;
    z-index: 3;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    width: 100vw;
    transition: .3s;
}

.menu-responsive.isActive{
  left: 0;
  transition: .3s;
}

  .menu-responsive ol {
    width: 100%;
  }

  .menu-responsive ol li a{
    width: 70%;
    display: block;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    padding: .5em 2em;
    border-bottom: 1px solid #666;
    font-size: 1.5em;
  }

  .main-container{
    padding: 0 1em;
  }

  .category-title {
    font-size: 1.5em;
  }

  .category-projects{
    grid-template-columns: 100%;

  }

  .course-details{
    font-size: 14px;
  }

  .course-details a {
    align-self: initial;
    text-align: center;
  }

  .form-email {
    grid-template-columns: 100%;
    grid-template-areas: "form-title" "form-txtEmail" "form-button";
    grid-row-gap: .5em;
  }

  .form-email .form-title{
    font-size: 2em;
  }

  .footer, .footer-container{
    height: auto;
  }

  .footer-container{
    flex-direction: column;
    padding: 1em 0;
  }

}

@media screen and (max-width: 320px){

}